/* =============================================================
  共通変数設定
 * ============================================================= */

// FONT SIZE
$f-size-10: 18px;
$f-size-9: 17px;
$f-size-8: 16px;
$f-size-7: 15px;
$f-size-6: 14px;
$f-size-5: 13px;
$f-size-4: 12px;
$f-size-3: 11px;
$f-size-2: 10px;
$f-size-1: 9px;

// COLOR
$c-black: #222222;
$c-black-grey: #444444;
$c-hover: #0084b4;

$c-dgrey: #7e8b8c;
$c-grey: #bdc3c7;
$c-lgrey: #e1e5e7;
$c-ulgrey: #f8f9fa;
$c-border-lgrey: #f7f7f7;
$c-txt-grey: #a1a6a9;
$c-bdgrey: #d9e0e2;
$c-bggrey: #e8ebec;
$c-bdgrey-sp: #ced4d6;
$c-bggrey-sp: #E3E5E7;

$c-txt-activation: #3c763d;
$c-bg-activation: #dff0d8;
$c-bd-activation: #d6e9c6;

$c-green: #41C9B4;
$c-red: #ff5d3d;
$c-orange: #f5a600;
$c-facebook: #3b5998;
$c-twitter: #00acee;
$c-blue: #71c2e8;
$c-yellow: #f4d02b;

$c-bd-button: #c9c9c9;

// WIDTH
$w-container: 580px;

// PREFIX
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

// RADIUS
// $radius: 100px;
$radius: 4px;

//MARGIN
$pc-margin: 15px;
$sp-margin: 10px;
