// #Setting
$f-box-height: 31px;
$f-box-width: 140px;
$f-color-grey: #999;
$f-color-error: #d60000;

i {
  font-style: normal;
  /*used for *pend*/
}
form {
  font: 13px / 18px;
  // margin-bottom: 18px;
  clear: both;
  * {
    margin: 0;
  }
}
label,
.alt-label {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}
.label-group {
  display: block;
  margin-bottom: 18px;
  overflow: hidden;
  label {
    margin-bottom: 9px;
    color: #222222;
  }
}
select {
  display: inherit;
  height: $f-box-height;
  padding: 4px;
  width: 210px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  &[multiple], &[size] {
    display: inherit;
    height: $f-box-height;
    padding: 4px;
    width: 210px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid $c-lgrey;
  }
}
input {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    display: inherit;
    height: $f-box-height;
    padding: 5px 10px;
    width: 210px;
    vertical-align: middle;
  }
}
input.short {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: 30px !important;
  }
}
input {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"] {
    background-color: #fff;
    border: 1px solid $c-lgrey;
  }
}
input.username {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    width: 130px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  margin-bottom: 0 !important;
}
input {
  &[type="radio"], &[type="checkbox"] {
    margin: 1px 2px 0 0;
    vertical-align: text-top;
  }
}
input[type="number"] {
  width: 60px;
}
input[type="date"] {
  background-color: #fff;
  border: 1px solid $c-lgrey;
}
button:focus {
  outline: 0;
}
textarea {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: middle;
  display: inherit;
  font-size: 11px;
  height: auto;
  min-height: 60px;
  width: 240px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid $c-lgrey;
}
textarea:focus {
  border-color: $c-grey;
  outline: 0;
}
input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="date"]:focus {
    border-color: $c-grey;
    outline: 0;
  }
  &[type="submit"], &[type="reset"], &[type="button"], &[type="radio"], &[type="checkbox"] {
    width: auto;
  }
}
input[type="file"] {
  height: 28px;
  line-height: 28px;
}
// input:-moz-placeholder,
// :-ms-input-placeholder,
// input::-webkit-input-placeholder {
//   color: #000;
// }
::-webkit-input-placeholder{
  color: $c-grey;
}
:-ms-input-placeholder{
  color: $c-grey;
}
input:-moz-placeholder {
  color: $c-grey;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    border-top: 1px solid $c-lgrey;
    border-right: 1px solid $c-lgrey;
    border-left: 1px solid $c-lgrey;
    border-bottom: 1px solid $c-lgrey;
    color: #444;
  }
}
select {
  &[multiple], &[size] {
    height: auto;
  }
}
form .message {
  font-size: 12px;
  clear: both;
  display: block;
}

//--------------------------------------------------
// SIZE
//--------------------------------------------------
input.xsmall {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: $f-box-height;
    width: $f-box-width / 2 !important;
  }
}
input.small {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: $f-box-height;
    width: $f-box-width * 1;
  }
}
input.medium {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: $f-box-height;
    width: $f-box-width * 2;
  }
}
input.large {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: $f-box-height;
    width: $f-box-width * 3;
  }
}
input.full {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: $f-box-height;
    width: 100%;
  }
}
textarea.large {
  height: $f-box-height * 4;
  width: $f-box-width * 3;
}
//SELECT
select.xsmall {
  width: 80px;
}

//--------------------------------------------------
// LAYOUT
//--------------------------------------------------
.form-horizontal{
  label > div:first-child, .label-group > div:first-child {
    width: 130px;
    text-align: right;
    margin-right: 10px;
  }
  label > div:first-child, .label-group > div:first-child, .message {
    line-height: $f-box-height;
  }
  label > div:first-child{
    font-weight: bold;
  }
  label > div{
    width: 120px;
    margin-right: 10px;
  }
  .label-group label, .inline label, label > div:first-child, .label-group > div:first-child, .message {
    float: left;
  }
  label {
    input, select, textarea {
      float: left;
    }
  }
  label.short {
    div{
      width: 80px !important;
    }
    .error-message{
      margin-left: 60px;
    }
  }
  .error-message{
    display: block;
    clear: both;
    line-height: inherit;
    margin-left: 140px;
    padding-top: 5px;
    color: #ff0000;
  }
  .message {
    margin-left: 10px;
    clear: none;
  }
  select {
    height: 35px;
    line-height: 35px;
  }
  .labels{
    label{
      display: inline-block;
      vertical-align: top;
      select + span{
        line-height: 35px;
      }
    }
  }
}
.form-stacked{
  label > div,
  .alt-label > div{
    font-size: 13px;
  }
  label > div:first-child,
  .alt-label > div:first-child{
    font-weight: bold;
    margin-bottom: 5px;
  }
  .error-message{
    color: #ff0000;
    margin-top: 5px;
  }
  //INPUT SIZE
  input {
    &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
      width: 100%;
    }
    &.small{
      width: 120px;
    }
  }
  //TEXTAREA SIZE
  textarea {
    width: 100%;
  }
  //SELECT SIZE
  select{
    width: 60%;
  }
  select.xsmall{
    width: 70px;
  }
  select.small{
    width: 100px;
  }
  .select-txt{
    line-height: 28px;
  }
}
//CREDIT CARD
.form-credit{
  input {
    &.small{
      width: 70px;
    }
  }
  select.xsmall{
    width: 50px;
  }
  select.small{
    width: 70px;
  }
}
.error-message{
  color: #ff0000;
}
.error-login{
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
label.inline,
.alt-label.inline {
  display: inline;
}
input.inline {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    display: inline;
  }
}
input.tall{
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    height: 38px;
    font-size: 13px;
  }
}

//ブラウザデフォルトスキンのリセット
input {
  &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select{
   -webkit-appearance: pop-up-menu;
   -moz-appearance: pop-up-menu;
   appearance: pop-up-menu;
   background: #fff;
   border: 1px solid $c-lgrey;
}

//----------------------------------------------------------------------------------------------------
// MULTI DEVICE
//----------------------------------------------------------------------------------------------------
  //ブラウザデフォルトスキンのリセット（iPad）
@media screen and (max-width: 768px) {
  select{
     -webkit-appearance: pop-up-menu;
     -moz-appearance: pop-up-menu;
     appearance: pop-up-menu;
     background: #fff;
     border: 1px solid $c-dgrey;
  }
}
@media screen and (max-width: 767px) {
  //ブラウザデフォルトスキンのリセット（スマホ）
  input {
    &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select{
     -webkit-appearance: pop-up-menu;
     -moz-appearance: pop-up-menu;
     appearance: pop-up-menu;
     background: #fff;
     border: 1px solid $c-dgrey;
  }
  .form-horizontal{
    label > div:first-child, .label-group > div:first-child {
      width: 100%;
      text-align: left;
      margin-right: 0px;
    }
    label > div:first-child, .label-group > div:first-child, .message {
      line-height: 1;
    }
    label > div:first-child{
      font-weight: bold;
    }
    label > div{
      width: auto;
      margin-right: 0px;
    }
    .label-group label, .inline label, label > div:first-child, .label-group > div:first-child, .message {
      float: none;
    }
    label {
      input, select, textarea {
        float: none;
      }
    }
    label.short {
      div{
        width: auto !important;
      }
      .error-message{
        margin-left: 0px;
      }
    }
    label.fl-left{
      float:none;
    }
    .error-message{
      margin-left: 0px;
      padding-top: 5px;
      color: #ff0000;
    }
    .message {
      margin-left: 0px;
    }
    .labels{
      label{
        display: block;
        select + span{
          line-height: 1;
        }
      }
    }
  }
  input {
    &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -ms-border-radius: 2px;
      border: 1px solid $c-bdgrey;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
  textarea{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border: 1px solid $c-bdgrey;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  input {
    &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="date"]:focus {
      border: 1px solid $c-lgrey;
    }
  }
  textarea:focus{
    border: 1px solid $c-lgrey;
  }
  input {
    &[type="text"], &[type="password"], &[type="email"], &[type="number"], &[type="search"], &[type="date"] {
      outline: none;
    }
  }
  textarea,
  select{
    outline: none;
  }
}

//音楽プレイヤー調整
.player{
  box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
input[type="range"].custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $c-lgrey;
  border:0;
  width: 390px;
  height:3px;
  // margin:1px 0;
  // box-shadow:1px 1px 0px #666 inset;
}
input[type="range"].custom::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  text-align:center;
  width: 3px;
  height: 13px;
  // border:1px solid transparent;
  // border-radius:20px;
  cursor:pointer;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
// input[type="range"].custom::-webkit-slider-thumb:before {
//   content:"";
//   display:inline-block;
//   background-color: #333;
//   width: 10px;
//   height: 10px;
//   border:1px solid transparent;
//   border-radius:10px;
//   margin:4px auto 0;
//   -moz-box-sizing:border-box;
//   -webkit-box-sizing:border-box;
//   box-sizing:border-box;
// }
input[type="range"].custom::-webkit-slider-thumb:hover {
  background-color: #777;
}

input[type="range"].custom:active::-webkit-slider-thumb {
  background-color: #777;
}
// input[type="range"].custom:active::-webkit-slider-thumb:before {
//   background-color: #339;
// }
input[type="range"].custom:focus {
  outline:none;
}
.bg-tp{
  background: transparent;
}

//--------------------------------------------------
// UNIQUE STYLE
//--------------------------------------------------
.txtbox{
  // SIZE
  &.full{
    width: 100%;
  }
  &.comment{
    font-size: $f-size-3;
  }
}
textarea.comment{
  height: 30px;
  min-height: 30px !important;
  padding-top: 6px;
  resize: none;
}
.textarea-full{
  width: 100%;
}
input.textarea-full{
  width: 100%;
}
.input-width-half{
  width: 50%;
}
input.input-height-3{
  height: 30px;
}
input.input-height-2{
  height: 20px;
}
input.w50{
  width: 50px;
}
.textarea-talk{
  height: 45px;
  min-height: 45px;
  resize: none;
}
